In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('train.csv')
df.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [3]:
df.drop(df[['keyword', 'location', 'id']], axis='columns')

                                                   text  target
0     Our Deeds are the Reason of this #earthquake M...       1
1                Forest fire near La Ronge Sask. Canada       1
2     All residents asked to 'shelter in place' are ...       1
3     13,000 people receive #wildfires evacuation or...       1
4     Just got sent this photo from Ruby #Alaska as ...       1
...                                                 ...     ...
7608  Two giant cranes holding a bridge collapse int...       1
7609  @aria_ahrary @TheTawniest The out of control w...       1
7610  M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...       1
7611  Police investigating after an e-bike collided ...       1
7612  The Latest: More Homes Razed by Northern Calif...       1

[7613 rows x 2 columns]

In [4]:
X = df.text
y = df.target

In [5]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X, y, test_size=0.05, random_state=1)

In [6]:
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((7232,), (7232,), (381,), (381,))

In [7]:
X_train.head()

4171    @malistkiss Sunnis continue to believe they ar...
6150    @EnvySeven My beautiful Aquarius queenmy Siren...
901                 @MrTophyPup it's bloody sexy *drools*
4599    Jack Wilshere has poor injury recordand his of...
2103    her loyalty mission involves her kicking a shi...
Name: text, dtype: object

In [8]:
from sklearn.feature_extraction.text import CountVectorizer
c_v = CountVectorizer()
X_train_count = c_v.fit_transform(X_train.values)
X_train_count.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [9]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline
model = Pipeline([
    ('vectorizer', CountVectorizer()),
    ('nb', MultinomialNB()),
])

In [10]:
model.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('vectorizer',
                 CountVectorizer(analyzer='word', binary=False,
                                 decode_error='strict',
                                 dtype=<class 'numpy.int64'>, encoding='utf-8',
                                 input='content', lowercase=True, max_df=1.0,
                                 max_features=None, min_df=1,
                                 ngram_range=(1, 1), preprocessor=None,
                                 stop_words=None, strip_accents=None,
                                 token_pattern='(?u)\\b\\w\\w+\\b',
                                 tokenizer=None, vocabulary=None)),
                ('nb',
                 MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True))],
         verbose=False)

In [11]:
model.score(X_test, y_test)

0.8320209973753281

In [12]:
test_data = pd.DataFrame(pd.read_csv('test.csv')['text'])
test_data['target']=model.predict(test_data['text'])
test_data.head(20)

                                                 text  target
0                  Just happened a terrible car crash       1
1   Heard about #earthquake is different cities, s...       0
2   there is a forest fire at spot pond, geese are...       1
3            Apocalypse lighting. #Spokane #wildfires       1
4       Typhoon Soudelor kills 28 in China and Taiwan       1
5                  We're shaking...It's an earthquake       1
6   They'd probably still show more life than Arse...       0
7                                   Hey! How are you?       0
8                                    What a nice hat?       0
9                                           Fuck off!       0
10                              No I don't like cold!       0
11                         NOOOOOOOOO! Don't do that!       0
12                             No don't tell me that!       0
13                                          What if?!       0
14                                           Awesome!       0
15  Birmingham Wholesale Market is ablaze BBC News...       1
16  @sunkxssedharry will you wear shorts for race ...       0
17  #PreviouslyOnDoyinTv: Toke MakinwaÂ‰Ã›Âªs marriag...       1
18  Check these out: http://t.co/rOI2NSmEJJ http:/...       0
19  PSA: IÂ‰Ã›Âªm splitting my personalities.\n\n?? t...       0